<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/PreZenTainerTizen" version="1.0.0" viewmodes="maximized">
    <tizen:application id="0suqMXMQal.PreZenTainerTizen" package="0suqMXMQal" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="teamlogo.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/serviceprofile.xml"/>
    <name>PreZenTainerTizen</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/content.read"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/medicalinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/camera"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
