
* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}
.text-centered {
	text-align:center;
}


.progress {
	margin: 10px;
	padding: 0;
	background: #333;
	top: 16px;
	left: 16px;
	right: 16px;
	height: 8px;
	border-radius: 4px;
}

.progress-val {
	margin: 0;
	padding: 0;
	border: 0;
	background: #FFAB1B;
	height: 8px;
	width: 0;
	border-radius: 4px;
}

.main-button {
	width: 50%;
	height: 60px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/* General */
.clear {
	clear: both;
}

/* Flip */
.flip-container div.label {
	text-align: center;
}

.flip-container input {
	position: absolute;
	left: -9999px;
}

.flip {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 60px;
	height: 51px;
	float: left;
	font-size: 40px;
	color: #ddd;
}

.flip-container.night .flip {
	color: #fff;
}

/* Digits */
.digit {
	width: 34px;
	height: 51px;
	float: left;
	margin-right: 1px;
	margin-left: 1px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.digit.small {
	width: 10px;
	height: 15px;
	margin-top: 36px;
}

.colon {
	background-image: url(../img/stopwatch/14x51/colon.png);
	width: 14px;
	height: 58px;
}

.d0 {
	background-image: url(../img/stopwatch/34x51/0.png);
}

.d1 {
	background-image: url(../img/stopwatch/34x51/1.png);
}

.d2 {
	background-image: url(../img/stopwatch/34x51/2.png);
}

.d3 {
	background-image: url(../img/stopwatch/34x51/3.png);
}

.d4 {
	background-image: url(../img/stopwatch/34x51/4.png);
}

.d5 {
	background-image: url(../img/stopwatch/34x51/5.png);
}

.d6 {
	background-image: url(../img/stopwatch/34x51/6.png);
}

.d7 {
	background-image: url(../img/stopwatch/34x51/7.png);
}

.d8 {
	background-image: url(../img/stopwatch/34x51/8.png);
}

.d9 {
	background-image: url(../img/stopwatch/34x51/9.png);
}

.small.d0 {
	background-image: url(../img/stopwatch/10x15/0.png);
}

.small.d1 {
	background-image: url(../img/stopwatch/10x15/1.png);
}

.small.d2 {
	background-image: url(../img/stopwatch/10x15/2.png);
}

.small.d3 {
	background-image: url(../img/stopwatch/10x15/3.png);
}

.small.d4 {
	background-image: url(../img/stopwatch/10x15/4.png);
}

.small.d5 {
	background-image: url(../img/stopwatch/10x15/5.png);
}

.small.d6 {
	background-image: url(../img/stopwatch/10x15/6.png);
}

.small.d7 {
	background-image: url(../img/stopwatch/10x15/7.png);
}

.small.d8 {
	background-image: url(../img/stopwatch/10x15/8.png);
}

.small.d9 {
	background-image: url(../img/stopwatch/10x15/9.png);
}

/* ----------------------------
    StopWatch page
-----------------------------*/
#stopwatch-wrapper {
	overflow: hidden;
	margin: auto;
	padding-bottom: 15px;
}

#stopwatch-navbar-running {
	display: none;
}

#stopwatch-navbar-paused {
	display: none;
}

.hidden {
	display: none;
}

.ui-content {
	
	margin: 0px auto;
	
}

#stopwatch-content-timer {
	height: 80px !important;
	overflow: hidden !important;
}

#stopwatch-page {
	min-height: 228px !important;
}
