
* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}
#EnrollHead {
	padding-top:none;
	padding-bottom:none;
	margin-top:0;
	margin-bottom:0;
}
/* main에 prezentainer logo */
h4 {
	width:device-width;
	text-align:center;
	background: rgba(40, 51, 71, .5);
	padding-top:10px;
	padding-bottom:10px;
	line-height:50px;
}
/* 재설정 버튼 */
.resettingButton {
	font-size:25px;
	
	padding:9px;
	padding-top:6px;
	padding-bottom:6px;
	background-Color:rgba(255,255,255,0);
	color:white;
	background-image: url(../img/button/Red.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	border: none;
}
/* 확인 버튼 */
.confirmButton {
	font-size:30px;
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding:14px;
	padding-top:2px;
	padding-bottom:2px;
	
	border:none;
}
/* 테스트 버튼 */
.testButton {
	background-image: url(../img/button/Brown.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding:10px;
	padding-top:2px;
	padding-bottom:2px;
	
	border:none;
}
/* 등록버튼 */
.enrollButton {
	font-size:27px;
	
	padding:9px;
	padding-top:5px;
	padding-bottom:5px;
	
	background-image: url(../img/button/Green.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	border: none;
}
/* 모션설정 페이지에 모션설정 버튼 */
.motionButton{
	font-size:25px;
	
	padding:8.5px;
	padding-top:8.5px;
	padding-bottom:10px;
	
	background-image: url(../img/button/Gray.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-Color:rgba(255,255,255,0);
	color:white;
	
	border: none;
}
/* 모션설정에 오른쪽 버튼 */
.rightButton {
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding:8px;
	padding-top:5px;
	padding-bottom:5px;
	
	font-size:30px;
	
	border:none;
}
/* 모션설정에 왼쪽 버튼 */
.leftButton {
	padding:15px;
	padding-top:1px;
	padding-bottom:2px;
	
	border:none;
	background-image: url(../img/button/Gray.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-Color:rgba(255,255,255,0);
	color:white;
	border: none;
}
/* 메인페이지에 설정 버튼 */
.main_buttonSet2 a{
	font-size:21px;
	
	padding:30px;
	padding-top:50px;
	padding-bottom:50px;
	
	background-image: url(../img/button/Blue.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	border: none;
}
/* 메인페이지에 설정 버튼 */
.settingButton {
	font-size:21px;
	
	padding:33px;
	padding-top:33px;
	padding-bottom:33px;
	
	background-image: url(../img/button/Blue.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	border: none;
}
/* 메인페이지에 시작 버튼 */
.startButtonMain a{
	background-image: url(../img/button/Green.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	
	padding:30px;
	padding-top:45px;
	padding-bottom:45px;
	
	font-size:30px;
}
/* 발표페이지에 발표 시작 버튼 */
.startButton input {
	font-size:70px;
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding-left:70px;
	padding-right:70px;
	padding-top:3px;
	padding-bottom:3px;
	border:none;
}
/* 발표페이지에 발표 중지 버튼 */
.stopButton input {
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding-left:110px;
	padding-right:110px;
	padding-top:3px;
	padding-bottom:3px;
	border:none;
}
/* 발표페이지에 왼쪽이벤트 버튼 */
.prevButton input{
	font-size:90px;
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding:10px;
	padding-top:2px;
	padding-bottom:2px;
	
	border:none;
}
/* 발표페이지에 오른쪽 이벤트 버튼 */
.nextButton input{
	font-size:90px;
	background-image: url(../img/button/Gray.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-Color:rgba(255,255,255,0);
	color:white;
	padding:10px;
	padding-top:2px;
	padding-bottom:2px;
	
	border:none;
	
}

/* 시작(메인)페이지에 start버튼 */
.main_buttonSet1 {
	position:absolute;
	left:22px;
	top:196px
}
/* 시작(메인)페이지에 setting버튼 */
.main_buttonSet2 {
	position:absolute;
	right:22px;
	top:193px;
}

.enroll_buttonSet1 {
	position:absolute;
	left:22px;
	top:194px
}
.enroll_buttonSet2 {
	position:absolute;
	right:22px;
	top:197px;
}

.start_buttonSet1_1 {
	position:absolute;
	left:5%;
	margin-top:10px;
}
.start_buttonSet1_2 {
	position:absolute;
	left:5%;
	margin-top:10px;
}
.start_buttonSet2_1 {
	position:absolute;
	top:200px;
	left:22px;
	margin-top:10px;
}
.start_buttonSet2_2 {
	position:absolute;
	right:22px;
	top:200px;
	margin-top:10px;
}
.start_buttonSet2_3 { 
	font-size:33px;
	position:absolute;
	left:29%;
	margin-top:12px;
	top:200px;
}
.start_buttonSet3_2 { 
	position:absolute;
	right:22px;
	margin-top:12px;
	top:230px;
}

.motionSetting_buttonSet p{
	margin-top:0px;
	margin-left:22px;
}
.motionSetting_buttonSet span{
	position:absolute;
	right:62px;
}

.enrollMotion_buttonSet1 span {
	margin-top:0px;
	margin-bottom:15px;
	position:absolute;
	right:22px;
}
.enrollMotion_buttonSet1_1 input{
	margin-top:5px;
	margin-left:0px;
}
.enrollMotion_buttonSet1_2 input{
	margin-top:0px;
	margin-left:13px;
}
.enrollMotion_buttonSet2 p{
	margin-top:15px;
	margin-bottom:20px;
	position:relative;
	left:35px;
}
.enrollMotion_buttonSet2 span{
	margin-top:0px;
	margin-bottom:15px;
	position:absolute;
	right:48px;
}





.ui-listview {
	height: 25px;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	font-size:20px;
	border-bottom:none;
	text-align:center;
}
.ui-listview li{
	height: 25px;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0;
	font-size:20px;
	border-bottom:none;
}

body {
    margin: 0px auto;
    background-color:#8fa4c3;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}
.text-centered {
	text-align:center;
}

.main-button {
	width: 50%;
	height: 60px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



/* General */
.clear {
	clear: both;
}

/* Flip */
.flip-container div.label {
	text-align: center;
}

.flip-container input {
	position: absolute;
	left: -9999px;
}

.flip {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 60px;
	height: 51px;
	float: left;
	font-size: 40px;
	color: #ddd;
}

.flip-container.night .flip {
	color: #fff;
}

/* Digits */
.digit {
	width: 34px;
	height: 51px;
	float: left;
	margin-right: 1px;
	margin-left: 1px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.digit.small {
	width: 10px;
	height: 15px;
	margin-top: 36px;
}

.colon {
	background-image: url(../img/stopwatch/14x51/colon.png);
	width: 14px;
	height: 58px;
}

.d0 {
	background-image: url(../img/stopwatch/34x51/0.png);
}

.d1 {
	background-image: url(../img/stopwatch/34x51/1.png);
}

.d2 {
	background-image: url(../img/stopwatch/34x51/2.png);
}

.d3 {
	background-image: url(../img/stopwatch/34x51/3.png);
}

.d4 {
	background-image: url(../img/stopwatch/34x51/4.png);
}

.d5 {
	background-image: url(../img/stopwatch/34x51/5.png);
}

.d6 {
	background-image: url(../img/stopwatch/34x51/6.png);
}

.d7 {
	background-image: url(../img/stopwatch/34x51/7.png);
}

.d8 {
	background-image: url(../img/stopwatch/34x51/8.png);
}

.d9 {
	background-image: url(../img/stopwatch/34x51/9.png);
}

.small.d0 {
	background-image: url(../img/stopwatch/10x15/0.png);
}

.small.d1 {
	background-image: url(../img/stopwatch/10x15/1.png);
}

.small.d2 {
	background-image: url(../img/stopwatch/10x15/2.png);
}

.small.d3 {
	background-image: url(../img/stopwatch/10x15/3.png);
}

.small.d4 {
	background-image: url(../img/stopwatch/10x15/4.png);
}

.small.d5 {
	background-image: url(../img/stopwatch/10x15/5.png);
}

.small.d6 {
	background-image: url(../img/stopwatch/10x15/6.png);
}

.small.d7 {
	background-image: url(../img/stopwatch/10x15/7.png);
}

.small.d8 {
	background-image: url(../img/stopwatch/10x15/8.png);
}

.small.d9 {
	background-image: url(../img/stopwatch/10x15/9.png);
}

/* ----------------------------
    StopWatch page
-----------------------------*/
#stopwatch-wrapper {
	overflow: hidden;
	margin: auto;
	padding-bottom: 15px;
}

.ui-content {
	padding-top:none;
	padding-bottom:none;
	margin-top:15px;
	margin: 0px auto;
}
.ui-content div{
	margin: 0px auto;
}

#stopwatch-content-timer {
	height: 80px !important;
	overflow: hidden !important;
	padding-top:none;
	padding-bottom:none;
	margin-top:15px;
	margin: auto;
    width: 100%;
}
