* {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px auto;
	background-color: #222;
}
.ui-content {
	margin: 0px auto;
	padding-top: none;
	padding-bottom: none;
	margin-top: 0px;
}
.ui-content div {
	margin: 0px auto;
}

.content-padding {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
}

.content_text {
	font-weight: bold;
	font-size: 5em;
	color: #fff;
}

.text-centered {
	text-align: center;
}


/* ----------------------------
    Main page
-----------------------------*/

/* main화면 setting 버튼 이미지 */
.main_buttonSet2 a {
	background-image: url(../img/button/ic_settings.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 30px;
	border: none;
}

/* main화면에 start button 이미지 */
.startButtonMain a {
	background-image: url(../img/button/ic_presentation_play.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding-left: 30px;
}

/* main화면에 setting 버튼에 대한 위치 */
.main_buttonSet2 {
	position: absolute;
	left: calc(30% -   30px); 
	top: calc(70% -   30px);
}

/* main화면에 start 버튼에 대한 위치 */
.main_buttonSet1 {
	position: absolute;
	right: calc(30% -   30px);
	top: calc(70% -   30px);
}


#EnrollHead {
	padding-top: none;
	padding-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}
/* 'Prezentainer-최고의 발표를 위해' 폰트로고 */
h5 input{
	width: 100%; 
	height: 100%;
	background-color:rgba(34, 86, 134, 0.5);
}

.resettingButton {
	font-size: 25px;
	padding: 9px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	background-image: url(../img/button/Red.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
}

.confirmButton {
	font-size: 30px;
	background-image: url(../img/button/Gray.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	padding: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
}

.testButton {
	background-image: url(../img/button/Brown.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
}

.enrollButton {
	font-size: 27px;
	padding: 9px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(../img/button/Green.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
}

.motionButton {
	font-size: 25px;
	padding: 8.5px;
	padding-top: 8.5px;
	padding-bottom: 10px;
	background-image: url(../img/button/Gray.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
}

.rightButton {
	background-image: url(../img/button/Gray.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	padding: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	border: none;
}

.leftButton {
	padding: 15px;
	padding-top: 1px;
	padding-bottom: 2px;
	border: none;
	background-image: url(../img/button/Gray.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-Color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
}

/* ----------------------------
    Start page
-----------------------------*/

/* ----------------------------
    	image관리
-----------------------------*/

/* start페이지에 start button 이미지 */
.startButton input {
	background-image: url(../img/button/ic_start_disable.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color:rgba(255,255,255,0);
	width:150px;
	height:150px;
	border: none;
}
/* start페이지에 start button 이미지 */
.stopButton input {
	background-image: url(../img/button/ic_stop_disable.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	width:150px;
	height:150px;
	border: none;
}
/* start페이지에 left button 이미지 */
.prevButton input {
	background-image: url(../img/button/ic_left_disable.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	width:100px;
	height:100px;
	border: none;
}
/* start페이지에 right button 이미지 */
.nextButton input {
	background-image: url(../img/button/ic_right_disable.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-Color: rgba(255, 255, 255, 0);
	width:100px;
	height:100px;
	border: none;
}

/* start화면 setting 버튼 이미지 */
.settingButton a{
	padding-right:30px;
	background-image: url(../img/button/ic_settings_dark.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.enroll_buttonSet1 {
	position: absolute;
	left: 22px;
	top: 194px
}

.enroll_buttonSet2 {
	position: absolute;
	right: 22px;
	top: 197px;
}

/* ----------------------------
    	위치 관리
-----------------------------*/

/* start 페이지에서 start button 위치*/
.start_buttonSet1_1 {
	position: absolute;
	left: calc(50% -   75px);
	right: calc(50% -   75px);
	top: calc(50% -   75px);
}
/* start 페이지에서 stop button 위치*/
.start_buttonSet1_2 {
	position: absolute;
	left: calc(50% -   75px);
	right: calc(50% -   75px);
	top: calc(50% -   75px);
}
/* start 페이지에 left 버튼 위치 */
.start_buttonSet2_1 {
	position: absolute;
	left: 1%;
	top: calc(50% -   50px);
	margin-top: 10px;
}
/* start 페이지에 right 버튼 위치 */
.start_buttonSet2_2 {
	position: absolute;
	right: 1%;
	top: calc(50% -   50px);
	margin-top: 10px;
}
/* start 페이지에 setting 버튼 위치 */
.start_buttonSet2_3 {
	
	position: absolute;
	left: calc(50% -   15px);
	right: calc(50% -   15px);
	bottom: 5%;
}
.start_bottom_section{
	width: device-width;
	height:30%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:rgba(34, 86, 134, 0.5);
}
.motionSetting_buttonSet p {
	margin-top: 0px;
	margin-left: 22px;
}

.motionSetting_buttonSet span {
	position: absolute;
	right: 62px;
}

.enrollMotion_buttonSet1 span {
	margin-top: 0px;
	margin-bottom: 15px;
	position: absolute;
	right: 22px;
}

.enrollMotion_buttonSet1_1 input {
	margin-top: 5px;
	margin-left: 0px;
}

.enrollMotion_buttonSet1_2 input {
	margin-top: 0px;
	margin-left: 13px;
}

.enrollMotion_buttonSet2 p {
	margin-top: 15px;
	margin-bottom: 20px;
	position: relative;
	left: 35px;
}

.enrollMotion_buttonSet2 span {
	margin-top: 0px;
	margin-bottom: 15px;
	position: absolute;
	right: 48px;
}

/* ----------------------------
    StopWatch part
-----------------------------*/
#stopwatch-wrapper {
	overflow: hidden;
	padding-bottom: 15px;
	margin: 0px auto;
}

#stopwatch-content-timer {
	height: 80px !important;
	overflow: hidden !important;
	padding-top: none;
	padding-bottom: none;
	margin: 0px auto;
	margin-top: 0px;
	margin-left: calc(50% -   75px);
}

.hidden {
	display: none;
}

/* Digits */
.digit {
	width: 34px;
	height: 51px;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
}

.digit.small {
	width: 10px;
	height: 15px;
	margin-top: 36px;
}

.colon {
	background-image: url(../img/stopwatch/new/34x51/colon.png);
	width: 14px;
	height: 58px;
}

.d0 {
	background-image: url(../img/stopwatch/new/34x51/0.png);
}

.d1 {
	background-image: url(../img/stopwatch/new/34x51/1.png);
}

.d2 {
	background-image: url(../img/stopwatch/new/34x51/2.png);
}

.d3 {
	background-image: url(../img/stopwatch/new/34x51/3.png);
}

.d4 {
	background-image: url(../img/stopwatch/new/34x51/4.png);
}

.d5 {
	background-image: url(../img/stopwatch/new/34x51/5.png);
}

.d6 {
	background-image: url(../img/stopwatch/new/34x51/6.png);
}

.d7 {
	background-image: url(../img/stopwatch/new/34x51/7.png);
}

.d8 {
	background-image: url(../img/stopwatch/new/34x51/8.png);
}

.d9 {
	background-image: url(../img/stopwatch/new/34x51/9.png);
}

.small.d0 {
	background-image: url(../img/stopwatch/new/34x51/0.png);
}

.small.d1 {
	background-image: url(../img/stopwatch/new/34x51/1.png);
}

.small.d2 {
	background-image: url(../img/stopwatch/new/34x51/2.png);
}

.small.d3 {
	background-image: url(../img/stopwatch/new/34x51/3.png);
}

.small.d4 {
	background-image: url(../img/stopwatch/new/34x51/4.png);
}

.small.d5 {
	background-image: url(../img/stopwatch/new/34x51/5.png);
}

.small.d6 {
	background-image: url(../img/stopwatch/new/34x51/6.png);
}

.small.d7 {
	background-image: url(../img/stopwatch/new/34x51/7.png);
}

.small.d8 {
	background-image: url(../img/stopwatch/new/34x51/8.png);
}

.small.d9 {
	background-image: url(../img/stopwatch/new/34x51/9.png);
}


